# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.pyc

build
lib
bin
src/valid_move.h
src/make_move.h
src/reversi.c.preprocess.h
.DS_Store
.buildpath
.settings
model
pyreversi/*.so
pyreversi/engine.c
*__pycache__/
.vscode/settings.json