@charset "utf-8";
/* CSS Document */

body{
	background:url(images/bg3.jpg);
}

#con {
	padding:100px;
	padding-top:0px;
}

#board-con {
	width:400px;
	height:400px;
	background:url(images/board.jpg);
	padding:2px;
}

#board{
	width:400px;
	height:400px;
}

#board td{
	width:50px;
	height:50px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
}

.chess{
	text-align:center;
	width:50px;
	height:50px;
	float:left;
	padding:0px;
	margin:0px;
}

#chess-black-count{
	float:left;
	text-align:center;
	vertical-align:middle;
	color:#FFF;
}

#chess-white-count{
	float:right;
	text-align:center;
	vertical-align:middle;
}

.chess-black{
	background:url(images/black.jpg);
}

.chess-white{
	background:url(images/white.jpg);	
}

.chess-black-select{
	background:url(images/select-black.jpg);	
}

.chess-white-select{
	background:url(images/select-white.jpg);	
}

#about{
	display:none;
}
	